@media (max-width: 768px) {
    html {
        font-size: 12pt;
    }

    body {
        flex-direction: column;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 15vh;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .topbar {
        z-index: 999;
    }

    .topbar .name-btn {
        width: 40vw;
        top: 2vw;
        left: 2vw;
    }

    .topbar .menu {
        position: fixed;
        top: 1vw;
        left: 50%;
        width: 50vw;
    }

    .filters {
        width: 95vw !important;
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: flex-start !important;
        align-items: flex-start;
        gap: 0.5rem;
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .filter-btn {
        min-width: 30%;
        min-height: 2rem;
        text-align: left !important;
    }

    main .list-grid {
        width: 95vw !important;
        grid-template-columns: 1fr !important;
        row-gap: 1rem !important;

    }

    .col1[style*="visibility: hidden"] {
        display: none !important;
        margin-bottom: -1rem;

    }

    .col-link a {
        word-break: break-all;
    }


    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        -webkit-appearance: none;
        appearance: none;
        position: static;
    }

    .popup-btn {
        display: block;
        position: fixed;
        right: 0;
        z-index: 200;
    }

    .biography-container {
        width: 100vw;
        height: auto;
        display: block;
    }

    .biography-container:not(.hidden) .filters {
        display: none !important;
    }

    .biography-container:not(.hidden) {
        background-color: white !important;
        opacity: 1 !important;
        z-index: 400 !important;
    }

    .biography-carousel img+p {
        display: none;
    }

    .biography {
        width: 90vw;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

        .biography-container:not(.hidden) {
        overflow-y: auto !important;
        height: 100vh;
    }

}