@media (max-width: 768px) {
    html {
        font-size: 12pt;
    }

    body {
        flex-direction: column;
    }

    main {
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 15vh;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .topbar {
        z-index: 999;
    }

    .topbar .name-btn {
        width: 40vw;
        top: 5vw;
        left: 5vw;
    }

    .topbar .menu {
        position: absolute;
        top: 4vw;
        left: 50%;
        width: 50vw;
    }

    .filters {
        width: 95vw !important;
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: flex-start !important;
        align-items: flex-start;
        gap: 0.5rem;
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .filter-btn {
        min-width: 30%;
        min-height: 2rem;
        text-align: left !important;
    }

    main .list-grid {
        width: 95vw !important;
        grid-template-columns: 1fr !important;
        row-gap: 1rem !important;
    }

    .col1[style*="visibility: hidden"] {
        display: none !important;
    }

    .col-link a {
        word-break: break-all;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        -webkit-appearance: none;
        appearance: none;
        position: static;
    }

    .popup-btn {
        display: block;
        position: fixed;
        right: 0;
        z-index: 200;
    }

    .intro-popup {
        width: 80vw;
        top: auto;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }

    .biography-container:not(.hidden) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        background-color: white !important;
        opacity: 1 !important;
        z-index: 400 !important;
        padding-top: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
        justify-content: flex-start;
    }

    .biography {
        width: 90vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
        pointer-events: auto;
    }

    .biography-carousel.visible {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
        width: calc(100vw) !important;
        height: auto !important;
        margin-left: -5vw;
        display: block !important;
    }

    .biography-carousel img {
        position: relative !important;
        opacity: 0;
        width: 100% !important;
        height: auto !important;
        object-fit: contain;
    }

    .biography-carousel img.active {
        opacity: 1;
    }

    .biography-carousel img+p {
        display: none;
    }
}